<!DOCTYPE html>

<title>
My Portfolio
</title>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        
        <script src="/assets/materialize.min.js"></script>
        <script src="/assets/main.js"></script>
<link rel="stylesheet" href="/assets/animate.min.css">
<script src="/assets/wow.min.js"></script>
        <link rel="stylesheet" href="/assets/home.css">
        <link rel="stylesheet" href="//cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link type="text/css" rel="stylesheet" href="/assets/materialize.min.css" />
  
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>       
        <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Noto Serif">
        <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto Slab">
        <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Acme">
        <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Solway">

    </head>
        <body>
            <div class="a1">
            
                    <ul id="slide-out" class="sidenav">
                            <li><div class="user-view">
                                   <a href="#" id="ta" class="sidenav-close"> <i class="material-icons right">close</i></a>
                              <div class="background">
                                <img src="/assets/6.jpg" id="pp">
                              </div>
                              <a href="#user"><img class="circle" src="/assets/5.jpg"></a>
                              <a href="#name"><span class="white-text name">Udit Khanna</span></a>
                              <a href="#email"><span class="white-text email">Uditkhanna112@gmail.com</span></a>
                            </div></li>
                            <li><a href="https://drive.google.com/open?id=1srR_Q8NWzSpzEg3cuMpNsJTXSXlTjOY0"><i class="material-icons">cloud</i>View Resume</a></li>
                            
                                    
                      
                        </ul>
                          <a href="#" data-target="slide-out" class="btn-floating btn-large waves-effect waves-light sidenav-trigger  wow slideInDown"><i class="material-icons">add</i></a>
    
    
    
    <div class="jumbotron " id="a2">
<h1 class="wow slideInLeft">I want to make things <br>that make a difference</h1>
   <a class= "btn-lg  " href="#project">View my work<i class="mdi mdi-arrow-right"></i>
   </a>   
</div>
</div>




<section id="about">
    <h1 class="wow wobble" id="abc" >
        About
    </h1>
    <div class="container wow fadeIn">
        <div class="row">
            <div class=" col-6 col-md-4 col-sm-6  ">
                    <div class="card" style="width: 18rem;">
                            <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator   " src="/assets/1.jpg">
                                  </div>
                                  <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4 common2">Fast<i class="material-icons right">more_vert</i></span>
                                        
                                      </div>
                                      <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4 common2">Fast<i class="material-icons right">close</i></span>
                                        <p>Fast load times and lag free interaction, my highest priority.</p>
                                      </div>
                            
                          </div>
            </div>
            <div class=" col-6 col-md-4 col-sm-6  ">
                    <div class="card" style="width: 18rem;">
                            <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator   " src="/assets/2.jpg">
                                  </div>
                                  <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4 common2">Responsive<i class="material-icons right">more_vert</i></span>
                                        
                                      </div>
                                      <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4 common2">Responsive<i class="material-icons right">close</i></span>
                                        <p>My layouts will work on any device, big or small.</p>
                                      </div>
                            
                          </div>
            </div>
            <div class=" col-6 col-md-4 col-sm-6  "  >
                    <div class="card" style="width: 18rem;">
                            <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator   " src="/assets/3.jpg">
                                  </div>
                                  <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4 common2" >Intuitive<i class="material-icons right">more_vert</i></span>
                                        
                                      </div>
                                      <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4 common2" >Intuitive<i class="material-icons right">close</i></span>
                                        <p>Strong preference for easy to use, intuitive UX/UI.</p>
                                      </div>
                            
                          </div>
            </div>
            
           </div>

            
</section>
<br>
<br>


<section class="project" id="project">
<h1 id="abc" class="wow wobble"  >Projects</h1>
<ul class="collapsible popout wow bounce">
    
        
    <li>
        <div class="collapsible-header common  "><i class="material-icons">whatshot</i>Covid-19</div>
        <div class="collapsible-body"><span class="common2">A web application that reports the number of cases along with other details across the globe.
            It also states the number of cases in Indian cities state wise. The results are updated in every 15 minutes.
       </span>
      <br>
      <h3 class="common3">Github Link of WebApplication</h3><a class="abcd"  href="https://github.com/uditkhanna112/covid19">Github-Link</a>
      <br>
      <h3  class="common3">Website </h3><a class="abcd"  href="https://covid19ukhanna.herokuapp.com/finder">Website Link</a>
        </div>
      </li>
  



    <li>
          <div class="collapsible-header common  "><i class="material-icons">whatshot</i>Animo-The ChatBot</div>
          <div class="collapsible-body"><span class="common2">An automated software that analyzes the state of mind of the user
        and providing the user with possible solutions. Software was buid on java using JSwings and web 
        application of the same is built using NODEJS and DIALOGFLOW API for automation purpose.

        </span>
        <br>
        <h3 class="common3">Github Link of WebApplication</h3><a class="abcd"  href="https://github.com/uditkhanna112/animothechatbot">Web-Application</a>
        <br>
        <h3  class="common3">Github Link of Application Software </h3><a class="abcd"  href="https://github.com/uditkhanna112/animothechatbot">Application Software</a>
          </div>
        </li>
        <li>
          <div class="collapsible-header common  "  ><i class="material-icons">whatshot</i>CollegeInfo</div>
          <div class="collapsible-body"><span class="common2"> A website template for a college through
            which users all around the world can access all important information related to the college. 
            .The website has been deployed on Heroku and can also be expanded on adding various functionalities.</span>
        <br>
        <h3  class="common3">Website</h3><a class="abcd"  href="http://mycllgapp.herokuapp.com">Website Link</a>
        <br>
        <h3  class="common3">Github</h3>
        <a class="abcd"  href="https://github.com/uditkhanna112/collegeapp">Github Link</a>
    </div>
        </li>
        <li>
          <div class="collapsible-header common  "  ><i class="material-icons">whatshot</i>Beat The Clock</div>
          <div class="collapsible-body"><span class="common2">A simple game created using javascript and judges the 
              speed of calculation of the intended user. It is a good mental exercise as well. 
          </span>
          <br>
          <h3  class="common3">Website</h3><a class="abcd"  href="http://uk3.herokuapp.com/">Website Link</a>
          <br>
          <h3  class="common3">Github</h3>
          <a class="abcd"  href="https://github.com/uditkhanna112/mathsapp">Github Link</a>
  
        </div>
        </li>

        <li>
                <div class="collapsible-header common  "  ><i class="material-icons">whatshot</i>Chat App</div>
                <div class="collapsible-body"><span class="common2">A chat app build using Socket.io API and Node Js.
                    It had separate rooms options as well for the users. Group chat and location sharing
                    were additional features in the app. 
                </span>
                <br>
                <h3 class="common3">Website</h3><a href="https://roomchat112.herokuapp.com/">Website Link</a>
                <br>
                <h3 class="common3">Github</h3>
                <a class="abcd"  href="https://github.com/uditkhanna112/chat3">Github Link</a>
        
              </div>
              </li>
      
              <li>
                    <div class="collapsible-header common  "><i class="material-icons">whatshot</i>Birthday Wish</div>
                    <div class="collapsible-body"><span class="common2">A dynamic website built to leave birthday wishes 
                        which can be viewed at any time by the user. Since birthdays are always a memorable
                        day for everyone , hence database provides an alternate to human memory by saving 
                        those wishes. 
                    </span>
                    <br>
                    <h3 class="common3">Website</h3><a class="abcd"  href="http://happybirthdaymommy.herokuapp.com/wishes">Website Link</a>
                    <br>
                    <h3 class="common3">Github</h3>
                    <a class="abcd" href="https://github.com/uditkhanna112/bday">Github Link</a>
            
                  </div>
                  </li>
          
    
      
                  <li>
                        <div class="collapsible-header common  "><i class="material-icons">whatshot</i>Attendance Management</div>
                        <div class="collapsible-body"><span class="common2">An Attendance management system desktop application created
                            on java using Swings. It helps the faculty update mark and edit the attendance of a student.
                        </span>
                        <br>
                        <h3  class="common3">Github</h3>
                        <a class="abcd" href="https://github.com/uditkhanna112/attendancejava">Github Link</a>
                
                      </div>
                      </li>


    </ul>
</section>

<section class="technology">
    <h1 id="abc" class="wow wobble">
Technology
    </h1>
    <div class="container">
        <div class="card wow fadeIn"  >
            <div class="card-content">
                <h4 class="abcd">
                    Front End
                </h4>
                <div class="row text-center">
                    <div class=" col-6 col-md-3 s4 m2">
                        <img src="/assets/7.png" width="90" height="100" class="responsive-img wow flip" >
                    </div>
                    <div class=" col-6 col-md-3 s4 m2">
                            <img src="/assets/8.png" width="65" height="100" class="responsive-img wow flip">
                        </div>
                        <div class=" col-6 col-md-3 s4 m2">
                                <img src="/assets/9.png" width="100" height="100" class="responsive-img wow flip" >
                            </div>
                            <div class=" col-6 col-md-3 s4 m2">
                                    <img src="/assets/10.png" width="90" height="100" class="responsive-img wow flip"   >
                                </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
            <div class="card wow fadeIn"  >
                <div class="card-content">
                    <h4 class="abcd">
                        Back End
                    </h4>
                    <div class="row text-center">
                        <div class="col-6 col-md-3  s4 m2">
                            <img src="/assets/11.png" width="90" height="100" class="responsive-img wow flip" >
                        </div>
                        <div class="col-6 col-md-3  s4 m2">
                                <img src="/assets/12.jpg" width="200" height="100" class="responsive-img wow flip"-duration="1s">
                            </div>
                            <div class="col-6 col-md-3  s4 m2">
                                    <img src="/assets/13.png" width="150" height="100" class="responsive-img wow flip" >
                                </div>
                                <div class="col-6 col-md-3 s4 m2">
                                        <img src="/assets/14.png" width="90" height="100" class="responsive-img wow flip" >
                                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
                <div class="card wow fadeIn" >
                    <div class="card-content">
                        <h4 class="abcd">
                            Programming Languages
                        </h4>
                        <div class="row text-center">
                            <div class="col-6 col-md-3 s4 m2">
                                <img src="/assets/15.png" width="90" height="100" class="responsive-img wow flip"   >
                            </div>
                            <div class="col-6 col-md-3 s4 m2">
                                    <img src="/assets/16.png" width="120" height="100" class="responsive-img wow flip"   >
                                </div>
                                <div class="col-6 col-md-3 s4 m2">
                                        <img src="/assets/17.png" width="150" height="100" class="responsive-img wow flip"   >
                                    </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                    <div class="card wow fadeIn">
                        <div class="card-content">
                            <h4 class="abcd">
                                Frameworks
                            </h4>
                            <div class="row text-center">
                                <div class="col-6 col-md-3  s4 m2">
                                    <img src="/assets/18.png" width="140" height="200" class="responsive-img wow flip" >
                                </div>
                                <div class="col-6 col-md-3  s4 m2">
                                        <img src="/assets/19.png" width="190" height="100" class="responsive-img wow flip" >
                                    </div>
                                    <div class="col-6 col-md-3  s4 m2">
                                            <img src="/assets/20.png" width="150" height="100" class="responsive-img wow flip" >
                                        </div>
                                        <div class="col-6 col-md-3 s4 m2">
                                                <img src="/assets/21.png" width="90" height="100" class="responsive-img wow flip" >
                                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                        <div class="card wow fadeIn">
                            <div class="card-content">
                                <h4 class="abcd">
                                    Cloud
                                </h4>
                                <div class="row text-center">
                                    <div class="col-6 col-md-3  s4 m2">
                                        <img src="/assets/30.png" width="110" height="100" class="responsive-img wow flip"   >
                                    </div>
                                    <div class="col-6 col-md-3  s4 m2">
                                            <img src="/assets/31.png" width="90" height="100" class="responsive-img wow flip"   >
                                        </div>
                                        <div class="col-6 col-md-3  s4 m2">
                                                <img src="/assets/33.png" width="150" height="100" class="responsive-img wow flip"   >
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="container">
                        <div class="card wow fadeIn" >
                            <div class="card-content">
                                <h4 class="abcd">
                                    Others
                                </h4>
                                <div class="row text-center">
                                    <div class="col-6 col-md-3  s4 m2">
                                        <img src="/assets/22.png" width="90" height="100" class="responsive-img wow flip" >
                                    </div>
                                    <div class="col-6 col-md-3  s4 m2">
                                            <img src="/assets/23.png" width="200" height="100" class="responsive-img wow flip" >
                                        </div>
                                        <div class="col-6 col-md-3  s4 m2">
                                                <img src="/assets/24.png" width="150" height="100" class="responsive-img wow flip" >
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
</section>


<section class="contact"> 
        <h1 id="abc" class="wow wobble">
                Contact
            </h1>
            <h5 class="abcd wow fadeInLeft">Have a question or want to work together?</h5>
    <div class="a10">

<div class="container" id="qq">
    <div class="row" >
 <div class="col-6 col-md-3 sm-6">
                <a href="https://www.facebook.com/udit.khanna.77">
                    <div class="fa fa-facebook fa-3x wow rotateIn"id="icon-2">
                      
                    </div>
                  </a>
                  </div>
                  <div class="col-6 col-md-3 sm-6">
                  <a href="https://www.instagram.com/khannaudit/">
                    <div class="fa fa-instagram fa-3x wow rotateIn" id="icon-2">
                      
                    </div>
                  </a>
                  </div>
                  <div class="col-6 col-md-3 sm-6">
                  <a href="https://twitter.com/uditkha01035592">
                    <div class="fa fa-twitter fa-3x wow rotateIn"  id="icon-2">
                      
                    </div>
                  </a>
                  </div>
                  <div class="col-6 col-md-3 sm-6">
                  <a href="https://www.linkedin.com/in/udit-khanna-0b4717152/">
                    <div class="fa fa-linkedin fa-3x wow rotateIn"  id="icon-2">
                      
                    </div>
                  </a>
</div>      
                  
</div>
</div>
</section>

        </body>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
</html>
